{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
		<h3 id="statusHeaderHeader">Projects overview</h3>
		<h4 id="statusNumber"></h4>
        <div id="instructionsPlot">
            <p>
                These are all the processing projects currently in the system.
                The table can be sorted and searched, and more details about
                the status of any particular project can be accessed by
                clicking the corresponding <i>More...</i> link.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="projectsTable" class="table table-striped">
                <!-- empty table -->
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {
            initServerStatus();
        });
    </script>
{% endblock %}
