{% extends "base.html" %}

{% block layout %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Molflow µService</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#status">Server status</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}

<div class="container">
    <div class="jumbotron">
         <h1>Molflow µService Portal</h1>
    </div>

    {% if data.DEBUG %}
        <i class="fa fa-tachometer"></i>
    {% endif %}

{% block content %}
       empty
{% endblock %}

{% block footer %}
		<footer class="footer-distributed">

			<div class="footer-left">
				<p class="footer-company-about">
					<span>About the Molflow µService</span>
                    Molflow µService is a processing system developed by
                    <a target="_blank" href="https://www.molflow.com">Molflow</a>.

			</div>
            <div class="footer-center">
				<div>

				</div>
			</div>
			<div class="footer-right">
				<img src="{{ url_for('static', filename='images/molflow_logo_white.png') }}" class="img-responsive center-block"/>
			</div>
		</footer>
{% endblock %}

{% endblock %}
