{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
         <h1> Hermod µService Portal</h1>
    </div>

    {% if data %}
        {% if data|string() is equalto "False" %}
            <i class="fa fa-tachometer"></i>
        {% endif %}
    {% endif %}
<div class="container-fluid">
    <div class="row">
		<h3 id="overviewHeader"></h3>
		<h4 id="overviewPrioScore"></h4>
		<h4 id="overviewDeadline"></h4>
		<h4 id="overviewETA"></h4>
		<h4 id="overviewTotalTime"></h4>
		<h5 id="overviewImage"></h5>
		<h5 id="overviewEnv"></h5>
        <div id="instructionsPlot">
            <p>
            To see a list of jobs for a particular period, click on the bar for
            the job type and period of interest.  If you are in the daily
            overview, this will also zoom into an hourly view for that day.  To
            return to the daily view, click anywhere in the plot outside the
            bars.
            </p>
            <p>
            The table below the plot shows data for the different jobs.  It can
            be searched and sorted, and is updated as described above.
            Clicking on a row in the table will display the console output
            (<i>StdOut/StdErr</i>) from the worker.
            </p>
        </div>
        <div id="overviewPlot" style="max-width:1200px;min-width:283px;max-height:742px;min-height:458px"</div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="jobTable" class="table table-striped">
                <!-- empty table -->
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // When the document is ready
        $(document).ready(function () {
            initProjectOverview('{{ data.project }}');
        });
    </script>
{% endblock %}
