
body {
  padding-top: 60px;
}
/*
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
*/

.plotter {
    height: 60px;
    width: 80%;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.table-responsive {
    font-size: 95%;
}
